Source: opi-authproxy
Section: mail
Priority: optional
Maintainer: Tor Krill <tor@openproducts.se>
Build-Depends: debhelper (>= 8.0.0), cmake, dh-systemd (>= 1.5),
	libcryptsetup-dev,
	libparted-dev,
	libcrypto++-dev,
	libssl-dev,
	libopi-dev (>= 1.6.0),
	libutils-dev,
	libjsoncpp-dev,
	pkg-config
Standards-Version: 3.9.8
Homepage: http://www.openproducts.com

Package: opi-authproxy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OPI Authproxy proxies between secop and Dovecot 
 OPI Authproxy implements a secop authorization proxy for
 Dovecot
