[Unit]
Description=IMAP authentication proxy
Requires=secop.service

[Service]
Type=forking
PIDFile=/var/run/opi-authproxy.pid
ExecStart=/usr/sbin/opi-authproxy -d
Restart=on-failure

[Install]
WantedBy=multi-user.target
